<!-- Home PAge -->
<a href="http://localhost:3000/listModules">List Modules</a> <br>
<a href="http://localhost:3000/listStudents">List Students</a> <br>
<a href="http://localhost:3000/listLecturers">List Lectures</a> <br>



