<!-- Lecturer Page -->
<h3>Lecturers</h3>
<button>Add Lecturer</button>
<table>
    <tr>
    <th>Lecturer ID</th>
    <th>Name</th>
    <th>Dept</th>
    </tr>
    <% students.forEach((student) =>
    { %>
    <tr>
    <td><%= lecturer.Lecturer ID %></td>
    <td><%= lecturer.Name %></td>
    <td><%= lecturer.Dept %></td>
    </tr>
    <% }) %>
</table>
<a href="http://localhost:3000/">Home</a> <br>